<h1>Please Login to Order</h1>
<form action="home_page" method="post">
    {% csrf_token %}
    <div class="container">
        <label for="user_name"><b> Username </b></label>
        <input type="text" placeholder="Enter Username" name="user_name" required>

        <label for="password"><b> Password </b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>
</form>